@model ead_frontend.Models.Component

@if (Model.Children.Count == 0 && Model.Daos.Count == 0)
{
    <div class="d-block p-3 border-bottom">
        <small class="d-block text-muted">@Model.Container.Replace("Folder", "Sleeve")</small>
        @Model.UnitTitleDate
    </div>
}
else
{
    <div id="accordion">
        <div class="card mb-1">
            <div id="heading@(Model.UnitId)" class="card-header p-0">
                <h5 class="mb-0">
                    <a class="btn btn-link d-block w-100 text-left pl-3 pr-3 pt-2 pb-2 cursor-pointer gray collapsed" data-toggle="collapse" data-target="#collapse@(Model.UnitId.Replace(".", "-"))" aria-expanded="true" aria-controls="collapseOne">
                        <small class="d-block text-muted">@Model.Container.Replace("Folder", "Sleeve")</small>
                        @if (Model.HasDigitizedContent)
                        {
                            <i class="fa fa-camera text-muted" aria-hidden="true" title="Contains digitized content"></i>
                        } @Model.UnitTitleDate
                        <span class="float-right plus-minus"></span>
                        @if (Model.ScopeNotes.Count > 0)
                        {
                            foreach (var p in Model.ScopeNotes)
                            {
                                <p class="mb-0 mt-1">@p</p>
                            }
                        }
                    </a>
                </h5>
            </div>
            <div id="collapse@(Model.UnitId.Replace(".", "-"))" @{if (!Model.ShowExpanded) { <text>class="collapse"</text> } } aria-labelledby="heading@(Model.UnitId.Replace(".", "-"))">
                <div class="card-body pt-2">
                    @if (Model.Daos.Count == 1)
                    {
                        if (Model.UnitId.Contains("-i"))
                        {
                            <li><a href="http://digital.lib.ecu.edu/@Model.Daos[0].objectID" target="_blank">@Model.UnitTitleDate</a></li>
                        }
                        else
                        {
                            <a href="http://digital.lib.ecu.edu/@Model.Daos[0].objectID" target="_blank">@Model.Daos[0].title</a>
                        }
                    }
                    else if (Model.Daos.Count > 1)
                    {
                        <ul>
                            @foreach (var dao in Model.Daos)
                            {
                                if (Model.UnitId.Contains("-i"))
                                {
                                    <li><a href="http://digital.lib.ecu.edu/@dao.objectID" target="_blank">@Model.UnitTitleDate</a></li>
                                }
                                else
                                {
                                    <li><a href="http://digital.lib.ecu.edu/@dao.objectID" target="_blank">@dao.title</a></li>
                                }
                            }
                        </ul>
                    }
                    @*else
                    {
                        @Model.UnitTitleDate
                    }*@

                    @if (Model.Children != null)
                    {
                        foreach (var c in Model.Children)
                        {
                            switch (c.Level)
                            {
                                case "item":
                                    @Html.Partial("~/Views/Guide/_ItemPartial.cshtml", c)
                                    break;
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}


