@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Bootstrap4

@model X.PagedList.StaticPagedList<ead_frontend.Models.Register>
@{
    ViewBag.Title = "Users";
    Layout = "../Shared/_RequestLayout.cshtml";
}

<h2>Registered Users</h2>

<hr />
<div class="alert alert-info">
    <a href="@Url.Action("Index", "Register")">Reading Room Registration Form</a><br />
</div>
@using (Html.BeginForm())
{
    <div class="row mb-3">
        <div class="col-lg-4">
            <div class="input-group">
                <input type="text" class="form-control" name="searchString" id="searchString" placeholder="Search Registrants">
                <span class="input-group-append">
                    <button class="btn btn-primary" type="submit">Search</button>
                </span>
            </div>
        </div>
    </div>
}

@if (Model != null && Model.Count > 0)
{
    if (TempData["Message"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @Html.Raw(TempData["Message"])
        </div>
    }
    <table class="table table-striped table-small">
        <thead>
            <tr>
                <th><i class="fa fa-sort"></i> @Html.ActionLink("First Name", "List", new { sortOrder = ViewBag.FirstSortParm })</th>
                <th><i class="fa fa-sort"></i> @Html.ActionLink("Last Name", "List", new { sortOrder = ViewBag.LastSortParm })</th>
                <th><i class="fa fa-sort"></i> @Html.ActionLink("Email", "List", new { sortOrder = ViewBag.EmailSortParm })</th>
                <th><i class="fa fa-sort"></i> @Html.ActionLink("Date Registered", "List", new { sortOrder = ViewBag.DateSortParm })</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr onclick="window.location.href = '@Url.Action("View", "Register", new {item.id})';" class="cursor-pointer">
                <td>@item.first_name</td>
                <td>@item.last_name</td>
                <td>@item.email</td>
                <td>@item.registered_on</td>
            </tr>
        }

    </table>
    <div class="container">
        <div class="row justify-content-md-center">
            @Html.PagedListPager(Model, page => Url.Action("List", new { sortOrder = ViewBag.CurrentSort, page }), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
        </div>
    </div>
}